# Dependencias
node_modules/
npm-debug.log*

# Variables de entorno
.env
.env.local
.env.production

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
tmp/
temp/

# Archivos de build
dist/
build/
